<div fxLayout="column" fxFlexFill>
  <div fxFlex="none">
    <mat-toolbar color="primary">
      <button mat-button routerLink="/home">MYAPP</button>
      <span style="margin: 0 32px"></span>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <ng-container *ngFor="let item of menu">
          <button mat-button [routerLink]="'/home/' + item">
            {{ item | uppercase }}
          </button>
        </ng-container>
      </div>
    </mat-toolbar>
  </div>
  <div fxFlex>
    <div style="padding: 8px; height: 100%">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div fxFlex="none">
    <mat-toolbar color="primary">
      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        style="width: 100%"
      >
        Allrights Reserved &#64; KP 2023
      </div>
    </mat-toolbar>
  </div>
</div>
